.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.DateRange {
    display: flex;
    align-items: center;
    /* margin-right: 30px; */
}

.CalendarArea {
    display: flex;
    align-items: center;
    margin-left:20px;
    margin-right: 10px;
}

.CalendarText {
    margin: 0px 5px 0px 0px;
    font-weight: bold;
}

.Calendar {
    min-width: 105px;
    max-width: 105px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 8px;
    border: 1.5px solid black;
    opacity: 0.8;
}

/* Buttons and Images */
.control_button
{
    color: black;
    border: 1px solid black;
    min-width: 110px;
    max-width: 110px;
    max-height: 35px;
    margin-top:  2px;
    padding: 0px 0px 0px 0px;
}
.control_button:hover
{
    border: 1px solid white;
}
.update_button_image
{
    background-image: url("../picture/Refresh.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 5px;
    opacity: 0.8;
}
.update_button_text
{
    margin: 0px 5px 0px 0px;
}
.control_button:hover .update_button_image {
    opacity: 1;
}