/* Buttons and Images */
.control_button
{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    color: black;
    font-weight: bold;
    border: 1.5px solid black;
    min-width: 90px;
    height: 40px;
}
.control_button:hover
{
    border: 1.5px solid white;
}
.control_button_image
{
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    opacity: 0.75;
}
.control_button:hover .control_button_image {
    opacity: 1;
}
#new_button_image
{
    background-image: url("../picture/New.png"); 
}
#edit_button_image
{
    background-image: url("../picture/Edit.png");
}
#delete_button_image
{
    background-image: url("../picture/Delete.png");
}
#copy_button_image
{
    background-image: url("../picture/Copy.png");
}
#cut_button_image
{
    background-image: url("../picture/Cut.png");
}
#paste_button_image
{
    background-image: url("../picture/Paste.png");
}

/* Categories and Records Management Page */
.ManagementPage
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: top;
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-image: url("../picture/Budget.jpg");
    background-size: cover;
    background-position: center;
    /* background-repeat: repeat; */
}

/* Left Side: Category Area */
.CategoryControlBar
{
    display: inline-flex;
    align-items: center;
    background-color: lightskyblue;
    width: 50vw;
    height: 10vh;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-bottom: none;
    opacity: 0.95;
}
.back_btn
{
    margin-left: 20px;
    margin-right:auto;
    color: white;
    font-weight: bold;
    border: 1.5px solid white;
    width: 100px;
    height: 40px;
    opacity: 0.95;
}
.back_btn_empty
{
    margin-left: 20px;
    margin-right:auto;
    width: 100px;
    height: 40px;
    opacity: 0.95;
}
.category_title
{
    font-weight: bold;
    margin-left: auto;
    margin-right: 22.5vw;
}
.CategoriesArea
{
    background-color: lightblue;
    width: 50vw;
    height: 82vh;
    border: 2px solid black;
    border-left:none;
    overflow:auto;
    opacity: 0.95;
}
.category_item_list
{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height:auto;
    padding: 20px 0px 10px 10px;
}
.category_item
{
    background-image: url("../picture/CategoryFolder.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
    opacity: 0.95;
}
.category_item_select
{
    border: 2px solid grey;
    background-image: url("../picture/CategoryFolder.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
    opacity: 1;
}
.category_item:hover
{
    background-image: url("../picture/CategoryFolderHover.png");
}
.category_item_select:hover
{
    background-image: url("../picture/CategoryFolderHover.png");
}
.category_text
{
    color:white;
    font-weight: bold;
    text-align: center;
    margin-left: 8px;
    margin-right: auto;
    width: 120px;
}
.CategoryBottomBar
{
    display: flex;
    align-items: center;
    background-color: lightslategray;
    color: white;
    width: 50vw;
    height: 8vh;
    opacity: 0.95;
}

/* Right Side: Record Area */
.RecordControlBar
{
    display: inline-flex;
    align-items: center;
    background-color: lightskyblue;
    width: 50vw;
    height: 10vh;
    opacity: 0.95;
}
.record_title
{
    font-weight: bold;
    margin-left: 20vw;
    margin-right: auto;
}
#new_record_btn
{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left:auto;
    color: black;
    font-weight: bold;
    border: 1.5px solid black;
    min-width: 90px;
    height: 40px;
}
#new_record_btn:hover .new_button_image {
    opacity: 1;
}
.RecordsArea
{
    background-color:lightblue; 
    width: 50vw;
    height: 82vh;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    overflow:auto;
    opacity: 0.95;
}
.record_item_list
{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height:auto;
}
.record_item
{
    border: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50vw;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    opacity: 0.95;
}
.record_item:hover
{
    border: 2px solid grey;
    opacity: 1;
}
.record_item_select
{
    border: 2px solid black;
    width: 50vw;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    opacity: 1;
}
.record_img
{
    background-image: url("../picture/Record.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 50px;
    margin: 0px 15px 0px 5px;
}
.record_text
{
    color:black;
    font-weight: bold;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}
.record_value
{
    /* background-color: orange; */
    min-width: 80px;
}
.record_date
{
    /* background-color: blue; */
    text-align: right;
    min-width: 100px;
}
.record_notes
{
    /* background-color: red; */
    grid-column: 1 / span 2;
    font-weight: normal;
    min-width: 180px;
    
}
.RecordBottomBar
{
    display: flex;
    align-items: center;
    background-color: lightslategray;
    color: white;
    width: 50vw;
    height: 8vh;
    opacity: 0.95;
}