/* Categories and Records Management Page */
.ManagementPage
{
    display: inline-flex;
    align-items: top;
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-image: url("../picture/Budget.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/* Left Side: Category Area */
.CategoryControlBar
{
    display: inline-flex;
    align-items: center;
    background-color: lightskyblue;
    width: 50vw;
    height: 10vh;
    /* box-shadow: inset 0 0 0 1.5px black; */
    border: 2px solid black;
    opacity: 0.95;
}
.back_btn
{
    margin-left: 20px;
    margin-right:auto;
    color: white;
    font-weight: bold;
    border: 1.5px solid white;
    width: 100px;
    height: 40px;
    opacity: 0.95;
}
.back_btn_empty
{
    margin-left: 20px;
    margin-right:auto;
    width: 100px;
    height: 40px;
    opacity: 0.95;
}
.category_title
{
    font-weight: bold;
    margin-left: auto;
    margin-right: 8vw;
}
#new_category_btn
{
    margin-right: 20px;
    margin-left:auto;
    color: black;
    font-weight: bold;
    border: 1.5px solid black;
    width: 100px;
    height: 40px;
}
.CategoriesArea
{
    background-color: lightblue;
    width: 50vw;
    height: 90vh;
    border: 2px solid black;
    border-top:none;
    overflow:auto;
    opacity: 0.95;
}
.category_item_list
{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height:auto;
    padding: 20px 0px 10px 10px;
}
.category_item
{
    /* background-color: white; */
    background-image: url("../picture/CategoryFolder.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
    opacity: 0.95;
}
.category_item_select
{
    border: 2px solid grey;
    background-image: url("../picture/CategoryFolder.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
    opacity: 1;
}
.category_item:hover
{
    background-image: url("../picture/CategoryFolderHover.png");
}
.category_item_select:hover
{
    background-image: url("../picture/CategoryFolderHover.png");
}

.category_text
{
    color:white;
    font-weight: bold;
    text-align: center;
    margin-left: 8px;
    margin-right: auto;
    width: 120px;
}

/* Right Side: Record Area */
.RecordControlBar
{
    display: inline-flex;
    align-items: center;
    background-color: lightblue;
    width: 50vw;
    height: 10vh;
    border: 2px solid black;
    border-left: none;
    opacity: 0.95;
}
.record_title
{
    font-weight: bold;
    margin-left: 20vw;
    margin-right: auto;
}
#new_record_btn
{
    margin-right: 20px;
    margin-left:auto;
    color: black;
    font-weight: bold;
    border: 1.5px solid black;
    width: 100px;
    height: 40px;
    opacity: 0.95;
}
.RecordsArea
{
    background-color: lightskyblue;
    width: 50vw;
    height: auto;
    min-height: 90vh;
    border: 2px solid black;
    border-left: none;
    border-top:none;
    opacity: 0.95;
}