.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* Buttons and Images */
.control_button
{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    color: black;
    background-color: lightseagreen;
    font-weight: bold;
    border: 1.5px solid black;
    min-width: 100px;
    height: 40px;
    opacity: 0.9;
}
.control_button:hover
{
    border: 2px solid white;
    opacity: 1;
}
.control_button:disabled
{
    border: none;
    background-color: gray;
}
.control_button:disabled
{
    border: none;
    opacity: 0.8;
}
.control_button_image
{
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 10px;
    opacity: 0.8;
}
.control_button:hover .control_button_image {
    opacity: 1;
}
.control_button:disabled .control_button_image {
    opacity: 0.8;
}
.back_btn
{
    margin-left: auto;
    margin-right: 2vw;
}
.back_btn_empty
{
    margin-left: auto;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    opacity: 0.95;
}
#back_button_image
{
    background-image: url("../picture/Back.png"); 
}  
#new_button_image
{
    background-image: url("../picture/New.png"); 
}
#edit_button_image
{
    background-image: url("../picture/Edit.png");
}
#delete_button_image
{
    background-image: url("../picture/Delete.png");
}
#copy_button_image
{
    background-image: url("../picture/Copy.png");
}
#cut_button_image
{
    background-image: url("../picture/Cut.png");
}
#paste_button_image
{
    background-image: url("../picture/Paste.png");
}

.Background
{
    width: 100vw;
    height: 100vh;
    background-image: url("../picture/Budget.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
}

/* Categories and Records Management Page */
.ManagementPage
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: top;
    background-color: white;
    width: 100vw;
    height: 92vh;
}

/* Left Side: Category Area */
.CategoryControlBar
{
    display: inline-flex;
    align-items: center;
    background-color: lightskyblue;
    width: 50vw;
    height: 8vh;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-bottom: none;
    opacity: 0.95;
}
.category_record_title
{
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    min-width: 100px;
    margin:10px 1vw 10px 1.8vw;
}
.category_record_title_icon
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 30px;
    max-width: 36px;
    max-height: 36px;
    margin-left:5px;
    opacity: 0.95;
}
.category_imgage
{
    background-image: url("../picture/CategoryFolder.png");
}
.CategoriesArea
{
    background-color: lightsteelblue;
    width: 50vw;
    height: 76vh;
    border: 2px solid black;
    border-left: none;
    overflow: auto;
    opacity: 0.95;
}
.category_item_list
{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: auto;
    margin-left: 1vw;
    margin-top: 1vw;
}
.category_item
{
    background-image: url("../picture/CategoryFolder.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
    opacity: 0.95;
}
.category_item_select
{
    border: 2px solid red;
    background-image: url("../picture/CategoryFolder.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
    opacity: 1;
}
.category_item:hover
{
    background-image: url("../picture/CategoryFolderHover.png");
}
.category_item_select:hover
{
    background-image: url("../picture/CategoryFolderHover.png");
}
.category_text
{
    color:white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
    margin-right: auto;
    margin-top: 40px;
    min-width: 100px;
    max-width: 110px;
}
.CategoryBottomBar
{
    display: flex;
    align-items: center;
    background-color: lightslategray;
    color: white;
    width: 50vw;
    height: 8vh;
    opacity: 0.95;
}

/* Right Side: Record Area */
.RecordControlBar
{
    display: inline-flex;
    align-items: center;
    background-color: lightskyblue;
    width: 50vw;
    height: 8vh;
    opacity: 0.95;
}
.record_image
{
    background-image: url("../picture/Record.png");
}
.checkbox {
    text-align: center;
    margin: 0px 5px 0px 0px;
    min-width: 20px;
    min-height: 20px;
}
.checkbox_text {
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin: 0px 0px 0px auto;
    min-width: 100px;
    opacity: 0.8;
}
.time_selector_area
{
    display: inline-flex;
    align-items: center;
    margin: 0px 1vw 0px 10px;
}
.time_label
{
    font-weight: bold;
    color: black;
    margin-top: 10px;
}
.time_selector
{
    background-color: grey;
    color: white;
    font-weight: bold;
    border: 1.5px solid black;
    text-align: center;
    text-align-last: center;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    width: 80px;
    height: 40px;
    opacity: 0.9;
}
.time_selector:hover
{
    background-color: grey;
    color: white;
    font-weight: bold;
    border: 1.5px solid white;
    opacity: 1;
}
.time_selector:disabled
{
    background-color: grey;
    color: lightgrey;
    border: none;
    opacity: 1;
}
.order_selector
{
    background-color: grey;
    color: white;
    font-weight: bold;
    border: 1.5px solid black;
    text-align: center;
    text-align-last: center;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    width: 110px;
    height: 40px;
    opacity: 0.9;
    padding: 0px 0px 5px 0px;
}
.order_selector:hover
{
    border: 1.5px solid white;
    opacity: 1;
}
.order_selector_text
{
    font-size: 15x;
}
.RecordsArea
{
    background-color:lightsteelblue; 
    width: 50vw;
    height: 76vh;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    overflow:auto;
    opacity: 0.95;
}
.record_item_list
{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height:auto;
}
.record_item
{
    border: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50vw;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    opacity: 0.95;
}
.record_item:hover
{
    border: 2px solid grey;
    opacity: 1;
}
.record_item_select
{
    border: 2px solid red;
    width: 50vw;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    opacity: 1;
}
.record_img
{
    background-image: url("../picture/Record.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 50px;
    margin: 0px 15px 0px 5px;
}
.record_text
{
    color:black;
    font-weight: bold;
    width:100%;
}
.record_row1
{
    display: flex;
    align-items: center;
    /* background-color: white; */
}
.record_value
{
    /* background-color: orange; */
    min-width: 80px;
    margin-right: auto;
}
.record_date
{
    /* background-color: blue; */
    text-align: right;
    min-width: 100px;
    margin-left: auto;
    margin-right: 1vw;
}
.record_notes
{
    /* background-color: red; */
    font-weight: normal;
    min-width: 180px;
    margin-right: auto;
}
.RecordBottomBar
{
    display: flex;
    align-items: center;
    background-color: lightslategray;
    color: white;
    width: 50vw;
    height: 8vh;
    opacity: 0.95;
}
/*Create New Category or Record Dialog*/
.modal_dialog
{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.95;
}
.modal_dialog_title
{
    background-color: lightskyblue;
    /* border-bottom: none; */
    border-radius: none;
    opacity: 0.95;
}
.modal_dialog_body
{
    background-color: lightblue;
    border-top: none;
    border-bottom: none;
    opacity: 0.95;
}
.modal_dialog_footer
{
    background-color: lightslategray;
    border-radius: none;
    opacity: 0.95;
}
/* The container */
.create_new_type {
    display: flex;
    align-items: center;
}
.create_new_type_name {
    margin-left: 10px;
    margin-right: auto;
}
.create_new_type_selector {
    margin-left: 10px;
    margin-right: auto;
    width:100px;
}
.submit_btn {
    margin-left:auto;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 10px;
}
