.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 8vh;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.85;
  margin:0px;
  padding:0px;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.navbar-brand {
  color: lightblue;
  font-weight: bold;
  text-shadow: 0 1px 1px white;
  font-size: 32px;
  height: 8vh;
  margin:0px 44vw 0px auto;
}

.menu_button_area {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size:20px;
}

.menu_button {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  text-align: left;
  margin: 10px;
  opacity: 0.85;
}

.menu_button:hover {
  color: lightblue;
  opacity: 0.8;
}

.menu_button_image
{
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    opacity: 0.85;
}

.menu_button:hover .menu_button_image {
  opacity: 1;
}

#home_button
{
  background-image: url("../picture/Home.png"); 
} 

#compare_button
{
  background-image: url("../picture/Compare.png"); 
}

#manage_button
{
  background-image: url("../picture/Manage.png"); 
} 