.highcharts-background {
    width: 0;
    height: 0;
}

.highcharts-credits {
    display: none;
  }

.highcharts-legend-box {
    fill: white;
    fill-opacity: 0.8;
    stroke: black;
    stroke-width: 0.5px;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.Background {
    background-image: url("../picture/Budget.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    position: fixed;
    top: 0;
}

.TrackingPage
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 100vw;
    height: 92vh;
    opacity:0.95;
    z-index: 1;
}

.ControlBar
{
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    width: 100vw;
    height: 8vh;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 20px;
}

.ViewByOption
{
    background-color: grey;
    color: white;
    font-weight: bold;
    border: 1.5px solid black;
    text-align: center;
    text-align-last: center;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 5px;
    outline: none;
    min-width: 110px;
    max-width: 110px;
    min-height: 35px;
    max-height: 35px;
    opacity: 0.9;
}

.ViewByOption:hover
{
    border: 2px solid white;
    opacity: 1;
}

.TrackingDataArea
{
    display: flex;
    align-items: center;
    background-color: lightsteelblue;
    width: 100vw;
    height: 84vh;
    opacity: 0.95;
}

.PieChartArea
{
    display: flex;
    align-items: center;
    width: 45vw;
    height: 84vh;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.ColumnChartArea
{
    display: flex;
    align-items: center;
    width: 55vw;
    height: 84vh;
}